<% content_for :title, "Add New Comment" %>

<div class="container my-4">
  <h1 class="mb-4">➕ Add a New Comment</h1>

  <%= render "form", comment: @comment %>

  <div class="mt-3">
    <% if @movie %>
      <%= link_to "⬅️ Back to Movie", movie_path(@movie), class: "btn btn-secondary" %>
      <%= link_to "⬅️ Back to Comments", movie_comments_path(@movie), class: "btn btn-outline-secondary" %>
    <% elsif @comment.rating&.movie %>
      <%= link_to "⬅️ Back to Movie", movie_path(@comment.rating.movie), class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "⬅️ Back to All Movies", movies_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
