<div class="rating-form">
  <%= form_with(model: [@movie, @rating || @movie.ratings.build]) do |form| %>
    <% if form.object.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

        <ul>
          <% rating.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id if current_user %>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    
    <div class="star-rating">
      <% (1..5).each do |star| %>
        <label class="star-<%= star %>">
          <%= form.radio_button :stars, star, class: "star-radio" %>
          <span>★</span>
        </label>
      <% end %>
    </div>
    
    <div>
      <%= form.submit "Submit Rating", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>